/* -----------------ALL CART UI ----------------- */

/*pay prompt css */
    .options a{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 10px; 
    background-color: #CED3D7; 
    color: #000;
    font-family: 'Luckiest Guy', cursive; 
    font-size: 18px; 
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 7px #999;
    }
    

   .options a:hover {
    background-color: #311712;
    color: #ffffff;
    }
    
    .cash-image {
    max-width: 50%;
    max-height: 50%;
    }

    .done-button {
    text-decoration: none;
    text-align: right;
    background-color: #311712; 
    color: white;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 7px #999;
    }

    .done-button:hover {
    background-color: #45a049;
    }


.cart-main-box {
    background-color: #CED3D7;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}
  
.cart-item-box {
    margin: 2%;
    border-radius: 15px;
    background-color: white;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    padding: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.combo-meal-box {
    color: #D4471F;
}

.order-item {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    color: #311712;
    padding-left: 5%;
}

.order-item hr {
    border-color: black;
    width: 95%;
    margin-left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

td:nth-child(1) {
    width: 70%; 
}

td:nth-child(2) {
    width: 10%; 
}

td:nth-child(2),
td:nth-child(3) {
    text-align: center;
}

.orig-price {
    color: gray;
    text-decoration: line-through;
}

.price td:nth-child(2) {
    color:#D4471F;
}

.ala-carte-item {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    color: #311712;
}

.ala-carte-item td:nth-child(1) {
    width: 71.5%; 
}

.ala-carte-item td:nth-child(2) {
    width: 9.6%; 
}

.buttons-box {
    text-align: right;
    padding: 2%;
}

.proceed ,
.home-delete {
   text-decoration: none;
   text-align: right;
   background-color: #311712; 
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 23px;
   font-family: "Luckiest Guy", cursive;
   font-weight: 400;
   font-style: normal;
   box-shadow: 0 7px #999;
}

.proceed:hover ,
.home-delete:hover {
   background-color: #45a049;
   color: white;
   text-decoration: none;
}

.proceed:active ,
.home-delete:active {
   background-color: #45a049;
   color: white;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
}

.edit-cart, .home-keep {
    text-decoration: none;
    text-align: right;
    background-color: white; 
    color: #311712;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 7px #999;
 }
 
 .edit-cart:hover, 
 .home-keep:hover {
    background-color: #45a049;
    text-decoration: none;
    color: #311712;
 }
 
 .edit-cart:active ,
 .home-keep:active {
    background-color: #45a049;
    color: #311712;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
 }

 .modal-header {
    background-color: #D4471F;
    font-family: "Luckiest Guy", cursive !important; 
    font-weight: 400;
    font-style: normal;
  }
 
  .modal-body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding: 10% !important; 
  }

  .home-keep, .home-delete {
    font-size: 16px;
    border:#CED3D7 1px solid;
  }