@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ----- USED TO APPLY IMPORTED FONTS -------
font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;

---- used it in "Welcome to"

font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;

---- used it in "Healthy Food"

font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;

---- used it in "Click to order" */


/* ------- USED FOR NAVBAR TEMPLATE ------- */

.navigation-bar {
  width: 8%;
  height: 100vh;
  background-color: #D4471F;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-icon {
  padding: 16% 8%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  width: 8%;
  height: 100vh;
  background-color: #D4471F;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
}

li a {
  display: block;
  color: #000;
  text-decoration: none;
}

li a.active {
  background-color: #000000;
  color: white;
  filter: invert(100%);
}

li a:hover:not(.active) {
  background-color: #999b9c;
  color: white;
}

li:nth-child(1) {
  background-color: #311712; 
}

.navbar-icon img {
  max-width: 100%; 
  height: auto;
}


/* ----------------- FOR RIGHT SIDE OF THE PAGE --------------- */
.right-container{
  flex: 1;
  align-items: center;
}

.select-text{
  color: #311712;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  
}